.toDoList {
  /* box-sizing: border-box; */
}

.toDoList__column {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin: 5px;
}

.toDoList__column span {
}

.toDoList__column button {
  border: none;
  background-color: var(--invisible);
}

.toDoList__column button:hover {
  cursor: pointer;
}
